<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="menu-list">
          <ion-list-header>A Little Of Everything</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let plugin of plugins">
            <ion-item routerLink="plugin/{{ plugin.id }}" lines="none" routerLinkActive="selected">
              <ion-icon slot="start" [name]="plugin.icon"></ion-icon>
              <ion-label>{{ plugin.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
